In [ ]:
!pip install kaggle

In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv('..\data\Churn_Modelling.csv')

In [28]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [30]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [31]:
df = pd.get_dummies(df,columns=['Geography', 'Gender'], drop_first=True)

In [32]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [33]:
X = df.drop(columns=["Exited", "Surname"])
y = df["Exited"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [34]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

In [35]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [47]:
input_dim = X_train.shape[1]

In [75]:
model = Sequential()
model.add(Dense(16,activation='sigmoid', input_dim=input_dim))
model.add(Dense(16,activation='sigmoid'))
model.add(Dense(8,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

In [76]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_33 (Dense)            (None, 16)                224

 dense_34 (Dense)            (None, 16)                272

 dense_35 (Dense)            (None, 8)                 136

 dense_36 (Dense)            (None, 1)                 9

=================================================================
Total params: 641 (2.50 KB)
Trainable params: 641 (2.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [77]:
model.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

In [56]:
X_train = np.asarray(X_train).astype("float32")
X_test  = np.asarray(X_test).astype("float32")

y_train = np.asarray(y_train).astype("float32")
y_test  = np.asarray(y_test).astype("float32")

In [78]:
history = model.fit(X_train,y_train, batch_size=50, epochs=50, verbose=1, validation_split=0.2)

Epoch 1/50
128/128 [==============================] - 1s 3ms/step - loss: 0.5946 - accuracy: 0.7447 - val_loss: 0.5224 - val_accuracy: 0.7987
Epoch 2/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5153 - accuracy: 0.7934 - val_loss: 0.5035 - val_accuracy: 0.7987
Epoch 3/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5098 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 4/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 5/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5023 - val_accuracy: 0.7987
Epoch 6/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5025 - val_accuracy: 0.7987
Epoch 7/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5094 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 8/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5025 - val_accuracy: 0.7987
Epoch 9/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 10/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 11/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 12/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5021 - val_accuracy: 0.7987
Epoch 13/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 14/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 15/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5023 - val_accuracy: 0.7987
Epoch 16/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 17/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5021 - val_accuracy: 0.7987
Epoch 18/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5021 - val_accuracy: 0.7987
Epoch 19/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 20/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5023 - val_accuracy: 0.7987
Epoch 21/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 22/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 23/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5023 - val_accuracy: 0.7987
Epoch 24/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 25/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5021 - val_accuracy: 0.7987
Epoch 26/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5021 - val_accuracy: 0.7987
Epoch 27/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 28/50
128/128 [==============================] - 0s 4ms/step - loss: 0.5097 - accuracy: 0.7934 - val_loss: 0.5028 - val_accuracy: 0.7987
Epoch 29/50
128/128 [==============================] - 0s 4ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 30/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 31/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5023 - val_accuracy: 0.7987
Epoch 32/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5021 - val_accuracy: 0.7987
Epoch 33/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5025 - val_accuracy: 0.7987
Epoch 34/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5097 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 35/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 36/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 37/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 38/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5025 - val_accuracy: 0.7987
Epoch 39/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 40/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 41/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5023 - val_accuracy: 0.7987
Epoch 42/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5025 - val_accuracy: 0.7987
Epoch 43/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 44/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5026 - val_accuracy: 0.7987
Epoch 45/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5023 - val_accuracy: 0.7987
Epoch 46/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 47/50
128/128 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5024 - val_accuracy: 0.7987
Epoch 48/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5095 - accuracy: 0.7934 - val_loss: 0.5022 - val_accuracy: 0.7987
Epoch 49/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5021 - val_accuracy: 0.7987
Epoch 50/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7934 - val_loss: 0.5026 - val_accuracy: 0.7987